asgiref==3.8.1
cffi==1.17.1
cryptography==43.0.1
Django==4.2.16
djangorestframework==3.15.2
mysqlclient==2.2.4
psycopg2==2.9.9
pycparser==2.22
PyMySQL==1.1.1
sqlparse==0.5.1
typing_extensions==4.12.2
