body {
    background-color: #F7F3F0;
    font-family: 'Apple Chancery', cursive;
}

.pink-block {
    background-color: #FFD1DF;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 285px;
    top: 50px;
}

.pink-block2 {
    background-color: #FFD1DF;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 270px;
    top: 590px;
}

.pink-block3 {
    background-color: #FFD1DF;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 500px;
    top: 1130px;
}

.firsttext {
    font-family: 'Apple Chancery', cursive;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 90px;
    width: 100%;
}

.firstinformation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    top: 280px;
}

.secondtext {
    font-family: 'Apple Chancery', cursive;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 430px;
    width: 100%;
}

.secondinformation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    top: 630px;
}

.quarter-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    position: absolute;
    top: 110px;
}

.text-and-image {
    display: flex;
    align-items: center;
}

.centered-text {
    margin-right: 20px;
    margin-left: -20px; /* Move the text 10px to the left */
    text-align: center;
    font-family: 'Apple Chancery', cursive;
}


.centered-image {
    margin-right: 20px;
    margin-left: 20px; /* Move the text 10px to the left */
    width: 350px;
    height: auto;
    box-shadow: 0 0 0 10px rgba(246, 243, 240, 1); /* Solid box shadow */
}

.quarter-screen-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    position: absolute;
    top: 640px;
}

.quarter-screen-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 1160px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 1230px;
    left: 50%;
    transform: translateX(-50%);
}

.short-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Apple Chancery', cursive;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.long-input {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Apple Chancery', cursive;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question-button {
    background-color: #C786AA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Apple Chancery', cursive;
}
